#main {
    height: 100vh;
    --app-height: 100vh;
    --top-panel-height: 32px;
    --bottom-panel-height: 62px;
    --file-panel-footer-height: 24px;
    overflow: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */


    --line-separator-color: lightgray;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

table:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.form-select {
    border: 1px solid #ccc;
    padding: 3px;
    padding-left: 5px;
}

.top-panel {
    height: var(--top-panel-height);
    border-bottom: 1px solid var(--line-separator-color);
}

.bottom-panel {
    height: var(--bottom-panel-height);
    box-shadow: 0px 0px 3px #0000001d;
    position: absolute;
    bottom: 0
}

.left-panel {
    width: calc(50vw - 1px);
    left: 0;
    height: calc(var(--app-height) - var(--bottom-panel));
    position: absolute;
    border-right: 1px solid var(--line-separator-color);

}

.right-panel {
    width: 50vw;
    left: calc(50vw + 1px);
    height: calc(var(--app-height) - var(--bottom-panel));
    position: absolute;
    border-left: 1px solid var(--line-separator-color);
}


.files-panel {
    height: calc(var(--app-height) - var(--top-panel-height) - var(--bottom-panel-height) - var(--file-panel-footer-height));
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.file-line {
    scroll-snap-align: start;
    white-space: nowrap;

}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25vw;
}

.file-marked {
    color: red;
}

.select-disk {
    padding-left: 20px;
    width: 350px;
}


.files-table tr {
    cursor: default;
    width: 100%;
}

.file-ico {
    height: 16px;
}

.bottom-button {
    width: 100%;
    padding: 3px;
    height: 30px;
}

.selected-line {
    background-color: #a2e2ff;
}

.selected-line-not-focused {
    background-color: #eaeaea;
}

.file-date {
    text-wrap: nowrap;
    padding-right: 5px;
}

.file-panel-footer {
    height: var(--file-panel-footer-height);
    border-top: 1px solid var(--line-separator-color);
    text-align: center;
}

.file {
    padding-right: 5px;
}

.hidden {
    opacity: 0.7;
}

.top-panel-ico {
    height: 16px;
}

.search-input {
    border: 1px solid var(--line-separator-color);
    border-radius: 5px;
    padding: 2px;
    margin-right: 4px;
    padding-left: 26px;
    background-position-x: 2px;
    background-position-y: middle;
    background-size: contain;
    background-repeat: no-repeat;
}