body {
    overflow: hidden;
}

#main {
    height: 100vh;
    --app-height: 100vh;
    --top-panel-height: 32px;
    --bottom-panel-height: 62px;
    --file-panel-footer-height: 24px;
    overflow: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    --line-separator-color: lightgray;
    --dialog-background-color: #eeedf4;
    --window-border-color: #b4b4b4;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

table:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.form-select {
    border: 1px solid #ccc;
    padding: 3px;
    padding-left: 5px;
}

.top-panel {
    height: var(--top-panel-height);
    border-bottom: 1px solid var(--line-separator-color);
}

.bottom-panel {
    height: var(--bottom-panel-height);
    box-shadow: 0px 0px 3px #0000001d;
    position: absolute;
    bottom: 0
}

.left-panel {
    width: calc(50vw - 1px);
    left: 0;
    height: calc(var(--app-height) - var(--bottom-panel));
    position: absolute;
    border-right: 1px solid var(--line-separator-color);

}

.right-panel {
    width: 50vw;
    left: calc(50vw + 1px);
    height: calc(var(--app-height) - var(--bottom-panel));
    position: absolute;
    border-left: 1px solid var(--line-separator-color);
}


.files-panel {
    height: calc(var(--app-height) - var(--top-panel-height) - var(--bottom-panel-height) - var(--file-panel-footer-height));
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.file-line {
    scroll-snap-align: start;
    white-space: nowrap;

}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25vw;
}

.file-marked {
    color: red;
}

.select-disk {
    padding-left: 20px;
    width: 350px;
}


.files-table tr {
    cursor: default;
    width: 100%;
}

.file-ico {
    height: 16px;
}

.bottom-button {
    width: 100%;
    padding: 3px;
    height: 30px;
}

.selected-line {
    background-color: #a2e2ff;
}

.selected-line-not-focused {
    background-color: #eaeaea;
}

.file-date {
    text-wrap: nowrap;
    padding-right: 5px;
}

.file-panel-footer {
    height: var(--file-panel-footer-height);
    border-top: 1px solid var(--line-separator-color);
    text-align: center;
}

.file {
    padding-right: 5px;
}

.hidden {
    opacity: 0.7;
}

.top-panel-ico {
    height: 16px;
}

.search-input {
    border: 1px solid var(--line-separator-color);
    border-radius: 5px;
    padding: 2px;
    margin-right: 4px;
    padding-left: 26px;
    background-position-x: 2px;
    background-position-y: middle;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Loader */

.loader {
    width: 16px;
    height: 16px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #FF3D00 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Dialog */

#dialog-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff5e;
    backdrop-filter: blur(1px);
}

#dialog-window {
    border: 1px solid var(--window-border-color);
    background: var(--dialog-background-color);
    border-radius: 5px;
}

.window-header {
    border-bottom: 1px solid var(--window-border-color);
    padding: 4px;
    text-align: center;
    font-weight: 600;
    background-color: color(srgb 0.9498 0.9449 0.9752);
    border-radius: 5px 5px 0 0;
}

.view-file-pad {
    background: white;
    width: 98%;
    margin: auto;
    height: 87%;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
}


.close-button {
    width: 10px;
    height: 10px;
    background-color: rgb(199, 2, 2);
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.close-button:hover {
    background-color: rgb(255, 0, 0);
}

.btn-icon {
    height: 16px;
}


.square-pattern {
    text-align: center;
    /* Must be equal to width for a square */
    background-image: repeating-linear-gradient(0deg,
            #eee,
            /* Light color */
            #eee 10px,
            /* Light color for 10px */
            #fff 10px,
            /* Dark color starts at 10px */
            #fff 20px
            /* Dark color ends at 20px (10px width) */
        ),
        repeating-linear-gradient(90deg,
            #eee,
            #eee 10px,
            #fff 10px,
            #fff 20px);
}